.benefits {
    display: block;
  }
  
  
  
  .benefits__list {
    display: flex;
    gap: 30px;
  }
  
  .benefits__item {
    max-width: 270px;
  }
  
  .benefits__block {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }
  
  .benefits__title {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    color: var(--color-title);
  }
  
  .benefits__uptitle {
    line-height: 1.71;
  }
  