.header {
    border-bottom: 1px solid #ececec;
  }
  
  .header__container {
    display: flex;
    align-items: center;
  }
  
  .navigation {
    margin-right: auto;
  }
  
  .header__logo {
    text-decoration: none;
    list-style: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-logo);
    margin-right: 93px;
  }
  .logo span {
    color: var(--color-blue);
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 50px;
  }
  .menu__item{}
  
  .menu__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-title);
    transition: color 250ms var(--transformation);
    position: relative;
  }
  
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-blue);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
  }
  
  .current {
    color: var(--color-blue);
  }
  
  .menu__color {
    color: var(--color-uptitle);
  }
  
  .menu__link:hover,
  .menu__link:focus {
    color: var(--color-blue);
  }
  
  .menu__img {
    margin-right: 10px;
    fill: currentColor;
  }
  